{% extends "login/base.html" %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 col-10 offset-1 login-main border rounded pb-4 pt-5">
            <form action="" method="POST">
                <div class="row">
                    <div class="col-md-4 col-12 heading-image text-white text-center">
                          <i class="fa fa-angellist" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-12 mt-5">
                      <div class="input-group">
                        <div class="input-group-prepend">
                              <span class="input-group-text bg-white border-0 p-3"><i class="fa fa-user"></i></span>
                        </div>
                            <input type="text" class="form-control border-0" id="userName" placeholder="Username" required>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-12 mt-3">
                          <div class="input-group">
                            <div class="input-group-prepend">
                                  <span class="input-group-text bg-white border-0 p-3"><i class="fa fa-lock" aria-hidden="true"></i></span>
                            </div>
                            <input type="password" class="form-control border-0 pl-3 pb-0" id="userPassword" placeholder="*******" required>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-12 mt-3">
                          <button type="submit" class="btn btn-info rounded-0 w-100">LOGIN</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-12 mt-3 options">
                        <div class="row">
                            <div class="col-md-6 col-12 pl-4">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="rememberCheck">
                                    <label class="custom-control-label text-white" for="rememberCheck">Remember me</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 pl-4">
                                <a href="/signUp" class="text-white"><i>New User? Sign Up!</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>    
{% endblock %}